@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.scrolling-container {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.scrolling-paused {
  animation-play-state: paused;
}
